{% extends 'studyapp/base.html' %}

{% block content %}
  <form method="post" id="question-box">
    {% csrf_token %}
    <div id="question-list"></div>
    <button type="submit">Save</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    const url = window.location.href;
    console.log(url)
    $.ajax({
        type: 'GET',
        url: `${url}`,
        success: function(response) {
            const questionList = response.data;
            const questionDiv = document.getElementById('question-list');

            questionList.forEach(questionObj => {
                for(const [questions,answers] of Object.entries(questionObj)){
                  questionDiv.innerHTML+=`
                    <p>${questions}</p>
                    `
                    answers.forEach(ans => {
                      questionDiv.innerHTML+=`
                        <div>
                          <input type="radio" class="ans" id="${question}-${ans} name=${question} value=${ans}">
                          <label for="${questions}">${ans}</label>
                        </div>
                        `
                    })
                  }
            });
          },

                //}

                //const questionElem = document.createElement('div');
                //questionElem.innerHTML = `<p>${question}</p>`;

                //answers.forEach(answer => {
                    //const radioInput = `<input type="radio" name="${question}" value="${answer}" /> ${answer}<br>`;
                    //questionElem.innerHTML += radioInput;
                //});

                //questionDiv.appendChild(questionElem);
            //});
        //},

        error: function(error) {
           console.error(error);
        },
    });
  </script>
{% endblock %}







