/* main.css */
/* main.css */
body {
  background-image: url("https://pub-static.fotor.com/assets/bg/3e2ec15e-01a7-4de9-863d-a26dc172a574.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000000;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #d2a9a9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 100px auto;  /* Adjust the value to control the vertical position */
}


/* styles.css */
/* Center align the container */
/* main.css */
.account-img {
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height */
}

